
* {
    font-family: "Lucida Sans Unicode", sans-serif;
    text-align: center;
    /*overflow: hidden;*/
    background-color: rgba(240, 248, 255, 0);
    margin: 0;
    padding: 0;
}

.teams {
    margin-left: 1vw;
}

.team-container {
    border: 1px solid black;
    display: inline-block;
}

.team-name {
    display: block;
    min-height: 3vh;
    margin: .5vh 0 .5vh 0;
}

.row {
    display: grid;
    margin-bottom: 4vh;
    grid-gap: 1vw;
    grid-template-columns: repeat(7, 13vw);
}

h1 {
    font-family: "Arial Black", sans-serif;
    font-size: 300%;
}

h3 {
    display: inline-block;
    font-family: Georgia, serif;
}

li {
    list-style:none;
    height: 2.5vh ;
    text-align: left;
}

.QB {
    background-color: coral;
}

.RB {
    background-color: #b6e89b;
}

.WR {
    background-color: #509aff;
}

.TE {
    background-color: #fff850;
}

.DEF {
    background-color: #9d529d;
}

.K {
    background-color: #caebe1;
}